VUE_APP_API_URL_V1='http://127.0.0.1:8000/v1'
VUE_APP_API_URL='http://127.0.0.1:8000'
VUE_APP_CLIENT_ID='93cf8365-29cc-4a71-8fb1-241fb05b39a4'
VUE_APP_SECRET='yEMW2wXYjpC3LrwlItjvBrseheYvxnY8hne0BdpB'
